.asset-dashboard {
  flex-direction: column;
}

.left-section .flex-col {
  flex-direction: column;
}

.chart-container {
  width: 100%;
}
.h1-title {
  font-weight: 600;
  font-size: small;
  margin-bottom: 0.4rem;
}

.button-txt {
  font-weight: 500;
}
@media (min-width: 641px) and (max-width: 1024px) {
  .left-section .flex-col {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .asset-dashboard {
    flex-direction: row;
  }

  .left-section .flex-col {
    flex-direction: column;
  }
}
