@media (min-width: 641px) and (max-width: 1024px) {
  .assets-returns {
    scale: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1025px) {
  .left-section-items {
    scale: 90%;
  }
}

@media (max-width: 640px) {
  .left-section-items {
    scale: 90%;
  }
}

.button-txt {
  font-weight: 500;
}
.h1-title {
  font-weight: 600;
  font-size: small;
  margin-bottom: 0.4rem;
}

.chart-container {
  width: 100%;
}
