.chart-container {
  width: 100%;
}
.h1-title {
  font-weight: 600;
  font-size: small;
  margin-bottom: 0.4rem;
}

.button-txt {
  font-weight: 500;
}

.mobile-section {
  display: flex;
  flex-direction: column;
}
@media (min-width: 641px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}
