.icon-hover:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.sun {
  color: rgb(245 158 11);
}

.moon {
  color: rgb(30 64 175);
}

/* Navbar.css */
.icon-size {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1.4rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .icon-size {
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 0rem;
  }
}
