.icon-hover:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.sun {
  color: rgb(245 158 11);
}

.moon {
  color: rgb(30 64 175);
}

.icon-size {
  width: 1.4rem;
  height: 1.4rem;
}
@media (min-width: 768px) {
  .icon-size {
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 0rem;
  }
}
.full-screen-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.full-screen-menu.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.burger-icon {
  z-index: 102;
}

.mobajl {
  background-color: var(--background-color-light);
}

.mobajl.dark {
  background-color: var(--background-color-dark);
}

.block-mb {
  background-color: var(--button-color-light);
  color: var(--text-color-light);
}

.block-mb.dark {
  background-color: var(--button-color-dark);
  color: var(--text-color-dark);
}
