.collapsible-menu {
  display: none;
  position: absolute;
  top: 2.25rem;
  left: -259px;
  width: 1039%;
  z-index: 10;
  background-color: aquamarine;
}

.group:hover .collapsible-menu {
  display: block;
}

.group > a::after {
  content: "";
  display: block;
  margin-bottom: -15px;
  height: 15px;
  width: 100%;
  position: absolute;
}

.hover-border-effect:hover {
  border-bottom: 0.8px solid;
}
