.button-shared {
  width: 6.5rem;
  flex-shrink: 0;
  height: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border-radius: 0rem;
  font-size: small;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.button-shared.button1 {
  background-color: rgb(91, 156, 156);
  border: 3px solid transparent;
  color: white;
}

.button-shared.button1.dark {
  background-color: rgb(59, 80, 69);
  border: 3px solid transparent;
  color: white;
}

.button-shared.button2 {
  background-color: rgb(91, 156, 156);
  color: white;
  width: 7.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: smaller;
}

.button-shared.button2.dark {
  background-color: rgb(59, 80, 69);
  color: white;
  width: 7.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: smaller;
}

.button-shared.button2 {
  background-color: rgb(91, 156, 156);
  border: 3px solid transparent;
  color: white;
}

.button-shared.button2.dark {
  background-color: rgb(59, 80, 69);
  border: 3px solid transparent;
  color: white;
}

/* Hover state */
.button-shared.button1:hover:not(:disabled):not(.pressed) {
  background-color: rgb(7, 209, 152, 90);
}

.button-shared.button2:hover:not(:disabled):not(.pressed) {
  background-color: rgb(7, 209, 152, 90);
}

/* Active/Pressed state */
.button-shared.button1.pressed {
  border-color: rgb(91, 156, 156);
  background-color: rgb(229, 232, 235);
  color: black;
}

.button-shared.button2.pressed {
  border-color: rgb(91, 156, 156);
  background-color: rgb(229, 232, 235);
  color: black;
}

/* Active/Pressed state */
.button-shared.button1.dark.pressed {
  border-color: rgb(59, 80, 69);
  background-color: rgb(229, 232, 235);
  color: black;
}
/* rgb(72, 150, 107); */

.button-shared.button2.dark.pressed {
  border-color: rgb(59, 80, 69);
  background-color: rgb(229, 232, 235);
  color: black;
}

/* Disabled state */
.button-shared.button1.disabled {
  background-color: rgba(179, 179, 173, 0.9);
  color: #ccc;
  cursor: not-allowed;
}

.button-shared.button2.disabled {
  background-color: rgba(179, 179, 173, 0.9);
  color: #ccc;
  cursor: not-allowed;
}
