.button-shared {
  width: 6.5rem;
  flex-shrink: 0;
  height: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border-radius: 0rem;
  font-size: small;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.button-shared.button1 {
  background-color: rgb(209 250 229);
  border: 3px solid transparent;
  color: #000000; /* Default font color */
}

/* Hover state */
.button-shared.button1:hover:not(:disabled):not(.pressed) {
  background-color: rgb(187 247 208);
}

/* Active/Pressed state */
.button-shared.button1.pressed {
  border-color: rgb(21 128 61);
}

/* Disabled state */
.button-shared.button1.disabled {
  background-color: #fafafa; /* Disabled background color */
  color: #ccc; /* Disabled font color */
  cursor: not-allowed;
  border: 2px solid #f0f0f0; /* Disabled border color */
}
