.button-shared {
  width: 4.5rem;
  min-width: 96px;
  flex-shrink: 0;
  height: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  border-radius: 0.25rem;
  font-size: small;
}

.button-shared.button2 {
  width: 6rem;
  height: 1.5rem;
  margin: 0.5rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-radius: 0.25rem;
  font-size: smaller;
}
